* {
  margin: 0;
  padding: 0;
}

.blured-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #22172c;
  -webkit-filter: contrast(7);
          filter: contrast(7);
}

.blured-circle {
  position: absolute;
  border-radius: 100%;
  background-color: #b1297d;
  -webkit-filter: blur(1.2vmax);
          filter: blur(1.2vmax);
}

.blured-circle:nth-of-type(1) {
  top: 46vh;
  left: 46vw;
  width: 6vmax;
  height: 6vmax;
  -webkit-animation: 3s blured-move-1 linear infinite;
          animation: 3s blured-move-1 linear infinite;
}

.blured-circle:nth-of-type(2) {
  top: 47vh;
  left: 47vw;
  width: 7vmax;
  height: 7vmax;
  -webkit-animation: 6s blured-move-2 linear infinite;
          animation: 6s blured-move-2 linear infinite;
}

.blured-circle:nth-of-type(3) {
  top: 48vh;
  left: 48vw;
  width: 8vmax;
  height: 8vmax;
  -webkit-animation: 9s blured-move-3 linear infinite;
          animation: 9s blured-move-3 linear infinite;
}

@-webkit-keyframes blured-move-1 {
  from {
    -webkit-transform: rotate(0deg) translateX(2vmax) rotate(0deg);
            transform: rotate(0deg) translateX(2vmax) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg) translateX(2vmax) rotate(360deg);
            transform: rotate(-360deg) translateX(2vmax) rotate(360deg);
  }
}

@keyframes blured-move-1 {
  from {
    -webkit-transform: rotate(0deg) translateX(2vmax) rotate(0deg);
            transform: rotate(0deg) translateX(2vmax) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg) translateX(2vmax) rotate(360deg);
            transform: rotate(-360deg) translateX(2vmax) rotate(360deg);
  }
}

@-webkit-keyframes blured-move-2 {
  from {
    -webkit-transform: rotate(0deg) translateX(5vmax) rotate(0deg);
            transform: rotate(0deg) translateX(5vmax) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(5vmax) rotate(-360deg);
            transform: rotate(360deg) translateX(5vmax) rotate(-360deg);
  }
}

@keyframes blured-move-2 {
  from {
    -webkit-transform: rotate(0deg) translateX(5vmax) rotate(0deg);
            transform: rotate(0deg) translateX(5vmax) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(5vmax) rotate(-360deg);
            transform: rotate(360deg) translateX(5vmax) rotate(-360deg);
  }
}

@-webkit-keyframes blured-move-3 {
  from {
    -webkit-transform: rotate(0deg) translateX(1vmax) rotate(0deg);
            transform: rotate(0deg) translateX(1vmax) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(1vmax) rotate(-360deg);
            transform: rotate(360deg) translateX(1vmax) rotate(-360deg);
  }
}

@keyframes blured-move-3 {
  from {
    -webkit-transform: rotate(0deg) translateX(1vmax) rotate(0deg);
            transform: rotate(0deg) translateX(1vmax) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(1vmax) rotate(-360deg);
            transform: rotate(360deg) translateX(1vmax) rotate(-360deg);
  }
}
/*# sourceMappingURL=main.css.map */